@media (max-width: 768px) {
  :root {
    --end-positionX: 50%;
    --end-positionY: 100%;
  }
  .menu {
    height: 100px;
    position: relative;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .menu .logo {
    display: none;
  }

  .menu h2 {
    font-size: 1rem;
  }

  .menu-lives {
    width: 160px;
  }

  .menu-lives img {
    width: 25px;
  }

  .game {
    position: relative;
    top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
  }

  #game-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #game-screen::before {
    top: 15px;
  }

  #game-screen .bubble img {
    width: 80px;
    height: 80px;
  }

  #user-input {
    width: 100%;
    justify-content: end;
    padding: 0;
  }

  #user-input h2 {
    display: none;
  }

  #user-input #answer {
    height: 40px;
  }

  #user-input label,
  #user-input .speed-slider {
    display: none;
  }

  .key,
  .enter,
  .clean {
    padding: 7px;
  }
}
